/* Style pour la barre de recherche */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Aligné à gauche */
  margin-top: 20px;
}

.search-bar input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar button {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-image{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(90 - 64px);
  opacity: 0.9;
}

.page-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #0277bd;
}

.footer-copyright {
  background-color: #01579b;
  padding: 10px 0;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li a {
  text-decoration: none;
  color: #b3e5fc;
}

ul li a:hover {
  color: #ffffff;
}